@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* Bright & Simple Fruit Vibe */
  background-color: #10b981; /* Emerald-500 */
  color: #064e3b; /* Dark Green for contrast */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}



